.App {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.logo{
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  
}
.tag_line{
  color : #ffff;
}
.form{
  margin-left: 3rem;
}
label {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffff;
}
input {
  font-size: 14px;
  height: 40px;
 
  width: 300px;
  background-color: #323232;
  color : #ffff;
  border: none;
  margin-bottom: 15px;
}
input:focus {
  outline: none;
}

.Submit{
  height: 35px;
  width: 300px;
  background-color: #CB3787;
  border: none;
  color: #ffff;
  cursor: pointer;
}